body {
    background-color: #282c34;
    color: white;
    padding: 40px;
    font-family: Arial;
    text-align: center;
}
.title{
      font-size: 10em;
}
.botContainer{
    padding-top: 2em;
    justify-content: center;
    display: flex;
}
.subBotContainer{
    margin-left: 0.5em;
    margin-right: 0.5em;
    text-align: left;
    
}
.subBotContainerTitle{

}
.sortBy{
    width: 10em;
    background: blue;
    margin-top: -6pt;
}
.tags{
    background: red;
    width: 10em;
    margin-top: -6pt;
}