body{
    background-color: #292930;
    color: white;
    font-size: 1.05em;
    font-family: Arial;
}

.bodyOnboarding {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    font-size: 10em;
    margin-bottom: 12pt;
    /* All the mumbo to disable text hilighting*/
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.oo{
    color: #ff9d41
}
.botContainer{
    padding-top: 2em;
    justify-content: center;
    display: flex;
}
.subBotContainer{
    margin-left: 0.5em;
    margin-right: 0.5em;
    text-align: left;
}
.tags{
    margin-top: -8pt;
}
.sortBy{
    margin-top: -8pt;
}
