.mainContainer{
    display: flex;
    justify-content: center;
}
.Container{
    width: 20em;
    height: 12pt;
    background: white; 
    border: none;
    padding: 4pt;
    border-radius: 2pt;
}
.Button{
    background: none;
    height: 20pt;
    border: 0em;
    outline-color: none;
    margin-left: 2pt;
    text-decoration: none;
}